<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:fragment="header">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
        <link rel="stylesheet" th:href="@{/css/header.css}" href="css/header.css" type="text/css" />
        <script type="text/javascript">
            const config = {
                socketUrl: "[[${session.ws}?:'']]", // empty is false, will result in no WS being opened
                rootUrl: "[[${session.url}?:'']]",
                csrf: {
                    name: "[[${_csrf.parameterName}]]",
                    value: "[[${_csrf.token}]]"
                },
                admin: "[[${session.u != null && session.u.hasRole('ADMIN')} ? true : false]]",
                userId: +"[[${session.u != null} ? ${session.u.id} : -1]]",
                funcionario: "[[${session.u != null && session.u.hasRole('FUNCIONARIO')} ? true : false]]",

            };
            config.admin = config.admin == "true"; // ensure boolean
        </script>
        <div class="header-container">
            <div class="title-container" > 
                <a href="/"> <img th:src="@{/img/logo.png}" alt="Logo" class="logo"> </a>
                    <h1>Fuentes Fix</h1>
            </div>
            
            <div class="login-container" th:if="${!logged}">
                <button class="btn-log" onclick="location.href='/login'">Iniciar Sesión</button>
                <button class="btn-log" onclick="location.href='/register'">Registrarse</button>
            </div>
            <div class="login-container" th:if="${logged}">
                <div class="horizontal" th:with="roles=${user.getRoles()}">  
                    <th:block th:with="role=${#strings.toLowerCase(roles)}">
                        <p th:text="${user.getUsername()}"></p>
                        <a th:href="@{'/' + ${role} + '/' + ${user.getId()}}" style="margin:0"><img th:src="${user.getPfp()}" alt="pfp" class="pfp"></a>
                        <button class="btn-log" onclick="location.href='/logout'">Cerrar Sesión</button>
                    </th:block>
                </div>
            </div>
        </div>
        
    </header>
</head>

<body>
    Head fragment - rest intentionally left empty.
</body>

</html>