<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:fragment="header">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/header.css}" href="css/header.css" type="text/css" />
        <div class="header-container">
            <div class="title-container" > 
                <a href="/"> <img th:src="@{/img/logo2.png}" alt="Logo" class="logo"> </a>
                    <h1>Fuentes Fix</h1>
            </div>
            
            <div class="login-container">
                <button class="btn-log" onclick="location.href='/login'">Iniciar Sesión</button>
                <button class="btn-log" onclick="location.href='/register'">Registrarse</button>
            </div>
        </div>
        
    </header>
</head>

<body>
    Head fragment - rest intentionally left empty.
</body>

</html>