
:root {
    /* acento */
    --ff-blue: #5e8ac6;
    /* texto */
    --ff-dark: #071e22;
    /* fondo */
    --ff-light: #d3d0cb;
}

* {
    margin-top: 1%;
    text-align: center;
}

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 500px;
    max-width: 500px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}

body {
    background-color: #bbd4ec;
}

h1 {
    color: #0011aa;
    font-weight: bold;
    text-align: center;
}

h5 {
    color: #0011aa;
    text-align: right;
}

table {
    background-color: rgb(207, 223, 247);
    margin: 0 auto;
    border: #0011aa 3px solid;
}

table td,
table th {
    border: 1px solid #0011aa;
}

button {
    background-color: #0011aa;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
}

input {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    min-width: 300px;
}

.table-button {
    background-color: #0011aa;
    color: white;
    border-radius: 15px;
    min-width: 1px;
}