<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<title> Perfil </title>
<head>
  <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
  <th:block th:replace="fragments/head :: header" />
</head>
<body>
    <h1>Nombre del Admin</h1>
    <img height="200px" width="200px" th:src="@{/img/users/default.jpg}" alt="Imagen" class="img-medallaPlata">
      <p>Soy un aficionado a las fuentes públicas de Madrid
        <br>Me encanta descubrir nuevas fuentes y reportar problemas
        <br>¡Ayúdame a mejorar la calidad de las fuentes de Madrid!
      </p>
    <br>
    <h3>Medallas</h3>
    <img height="141px" width="90px" th:src="@{/img/medals/goldMedal.png}" alt="Imagen" class="img-medallaOro">
    <p>Fuente de Moncloa</p>
    <br>
    <img height="166px" width="87px" th:src="@{/img/medals/silverMedal.png}" alt="Imagen" class="img-medallaPlata">
    <p>Fuente de Lavapiés</p>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>