<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
  <title> Admin </title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""
  />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin="">
  </script>
  <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
  <th:block th:replace="fragments/head :: header" />
</head>
<body>
  <script>
    var fuentes = /*[[${fuentes}]]*/ [];
  </script>


  <h1> Bienvenido en la pagina de control del Administrador</h1>
  <div class = "button-container">
    <button class="button-func" onclick="location.href='/admin/gestionarApp'">ver Fuentes o usuario</button>
    <button class="button-func" onclick="location.href='/admin/ultimoReport'">Ultimos reportes y valoraciones</button>
    <button class="button-func" onclick="location.href='/admin/addEntity'">Anadir Funcionario</button>
  </div>
  
  <div class="main-container">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <div id="mapfunc"></div>
    <script th:src="@{/js/mapa-func.js}">
    </script>
    <br>
    <br>
    <tr th:each="fuente : ${fuentes}" th:limit="10">
      <script th:inline="javascript">
        $(document).ready(function () {
              var latitud = /*[[${fuente.getLatitud()}]]*/null;
              var longitud = /*[[${fuente.getLongitud()}]]*/null;
              var id = /*[[${fuente.getId()}]]*/null;
              var dir_aux = /*[[${fuente.getDireccion_aux()}]]*/null;
              var reportes = /*[[${fuente.getReportes()}]]*/[];
              var estado = /*[[${fuente.getEstado()}]]*/ null;
              var orangeIcon = L.icon({
                iconUrl: '/img/orangePopup.png', // Specify the path to your orange marker icon
                iconSize: [30, 41], // size of the icon
                iconAnchor: [12, 41], // point of the icon which will correspond to marker's location
                popupAnchor: [1, -34], // point from which the popup should open relative to the iconAnchor
              });
              var redIcon = L.icon({
                iconUrl: '/img/redPopup.png', // Specify the path to your orange marker icon
                iconSize: [25, 41], // size of the icon
                iconAnchor: [12, 41], // point of the icon which will correspond to marker's location
                popupAnchor: [1, -34], // point from which the popup should open relative to the iconAnchor
              });
              if(estado == 'CERRADA_TEMPORALMENT' || estado == 'NO_OPERATIVO'){
                L.marker([latitud, longitud],  {icon: redIcon}).addTo(mapfunc).bindPopup('<a href="/fuente/' + id + '">' + dir_aux +'</a><br>');
              }
              else if (reportes.length === 0){
                L.marker([latitud, longitud]).addTo(mapfunc).bindPopup('<a href="/fuente/' + id + '">' + dir_aux +'</a><br>');
              }else{
                L.marker([latitud, longitud],  {icon: orangeIcon}).addTo(mapfunc).bindPopup('<a href="/fuente/' + id + '">' + dir_aux +'</a><br>');
              }
        });
      </script>
    </tr>
  </div>
  <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>