<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <!-- should i put the page 35 of websocket lesson? -->
    <title> chat funcionarios </title>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
    <!-- <script src="js/chat.js" defer></script> -->
    <th:block th:replace="fragments/head :: header" />
    
</head>
<body>

    <script>
        var messages = /*[[${messages}]]*/ [];
    </script>

    <div class="main-container">
        <div id="chat-page">
            <h1> Chat General</h1>
            <div id="messageArea">
                <tr th:each="msg : ${messages}">
                    <!-- will be fullfy by the javascript code -->
                    <td th:text="${msg.getFrom() + ': '}">
                    <td th:text="${msg.getText()}"></td>
                    <br>
                </tr>
            </div>

        <!-- send message not ready, i didn't understand well how does it work between controlller and js actions -->
        <form method="post" th:action="@{/chat}">
            <input type="text" id="message" required>
            <button id="sendmsg" type="submit">\u2705</button>
        </form>
        </div>
    </div>


    <script sth:rc="@{js/stomp.js}"></script>
    <script th:src="@{/js/chat.js}"></script>
</body>
</html>