<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">

<title> Fuente </title>
<head>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
    <th:block th:replace="fragments/head :: header" />
</head>

<body>
    <div class="main-container">
        <div class="horizontal" align="top">
            <div class="vertical" style="width: 30%" align="top">
                <img th:src="${fuente.imagen}" alt="Imagen" class="img-fuente">
                <div class="special-container-2" style="width: 100%;">
                    <h6  self="left"> Así la han valorado: </h6>
                <table class="table-val">
                    <tr>
                        <td> <b> Media: </b> </td>
                        <td th:text="${fuente.mediaValoracionGeneral}"/>                    
                    </tr>
                    <tr>
                        <td> <b> Caudal: </b> </td>
                        <td th:text="${fuente.mediaValoracionCaudal}"/>   
                    </tr>
                    <tr>
                        <td> <b> Sabor: </b> </td>
                        <td th:text="${fuente.mediaValoracionSabor}"/>   
                    </tr>
                    <tr>
                        <td> <b> Temperatura: </b> </td>
                        <td th:text="${fuente.mediaValoracionTemperatura}"/>   
                    </tr>
                    <tr>
                        <td> <b> Numero de valoraciones: </b> </td>
                        <td th:text="${valoraciones.size()}"/>   
                    </tr>                    
                </table>
                </div>

            </div>
            <div class="vertical" style="width: 70%">           
                <h2> <td th:text="${fuente.direccion_aux}"> Dirección Auxiliar </td> </h2>
                <h5> <td th:text="${fuente.direccion}"> Dirección Auxiliar </td> </h5>
                <br>
                <table class="table-data">
                    <tr>
                        <td> <b> ID: </b> </td>
                        <td th:text="${fuente.id}"> Id </td>
                    </tr>
                    <tr>
                        <td> <b> Código de Barrio: </b> </td>
                        <td th:text="${fuente.getCod_barrio()}"> Código de Barrio </td>
                    </tr>
                    <tr>
                        <td> <b> Barrio: </b> </td>
                        <td th:text="${fuente.getBarrio()}"> Barrio </td>
                    </tr>
                    <tr>
                        <td> <b> Distrito: </b> </td>
                        <td th:text="${fuente.getDistrito()}"> Distrito </td>
                    </tr>
                    <tr>
                        <td> <b> Estado: </b> </td>
                        <td th:text="${fuente.getEstado()}"> Estado </td>
                    </tr>
                    <tr>
                        <td> <b> Latitud: </b> </td>
                        <td th:text="${fuente.getLatitud()}"> Latitud </td>
                    </tr>
                    <tr>
                        <td> <b> Longitud: </b> </td>
                        <td th:text="${fuente.getLongitud()}"> Longitud </td>
                    </tr>

                    <tr>
                        <td> <b> Modelo: </b> </td>
                        <td th:text="${fuente.getModelo()}"> Modelo </td>
                    </tr>
                    <tr>
                        <td> <b> Código Interno: </b> </td>
                        <td th:text="${fuente.getCodigo_interno()}"> Código Interno </td>
                    </tr>
                </table>
                
                <div class="horizontal" th:if="${logged}">
                    <script>
                        var user_id = /*[[${user_id}]]*/ null;
                    </script>
                    <th:block th:if="${user.hasRole('FUNCIONARIO')|| user.hasRole('ADMIN')}">
                        <h6> Reportes sobre esta fuente:</h6>
                        <table>
                            <tr>
                                <th>Usuario</th>
                                <th>Comentario</th>
                                <th>Estado</th>
                                <th>coger en carga</th>
                            </tr>
                            <tr th:each="report : ${reportes}" th:limit="10">
                                <td>
                                    <button class="btn-def" th:onclick="|location.href='/user/' + ${report.getAuthor().getId()}|" th:text="${report.getAuthor().getId()}"></button>
                                </td>
                                <td th:text="${report.getComentario()}"></td>              
                                <td th:text="${report.getEstado()}"></td>
                                <script th:inline="javascript">
                                    var repId = /*[[${report.getId()}]]*/ null;
                                </script>
                                <td id="coger_en_carga">
                                    <th:block th:if="${report.func != null}">
                                        <p> Un funcionario ya esta occupendo se</p>
                                    </th:block>
                                    <th:block th:unless="${report.func != null}">
                                        <button class="btn-cancel" style="height: 5em"> 🫵 </button>
                                    </th:block>
                                </td>
                            </tr>
                        </table>
                        <th:block th:if="${user.hasRole('FUNCIONARIO')}">
                            <form method="post" th:action="@{/myRepairs/{id}(id=${fuente.id})}">
                                <label for="estado">Cambiar el estado de la fuente:</label>
                                <select id="estado" name="estado" required>
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    <option value="CERRADA_TEMPORALMENT">Cerrada Temporalmente</option>
                                    <option value="OPERATIVO">Operativo</option>
                                    <option value="NO_OPERATIVO">No operativo</option>
                                </select>
                                <br>
                                <button type="submit">Enviar</button>
                            </form>
                        </th:block>
                    </th:block>
                    <th:block th:if="${!user.hasRole('FUNCIONARIO') && !user.hasRole('ADMIN')}">
                        <button class="btn-cancel" style="height: 5em" th:onclick="'window.location.href=\'/report/' + ${fuente.getId()} + '\''"> <h6> Reportar mal funcionamiento <h6> </button>
                    </th:block>
                </div>



                <th:block th:if="${!logged}">
                    <div class="horizontal"> 
                        <button class="btn-cancel" style="height: 5em" th:onclick="'window.location.href=\'/report/' + ${fuente.getId()} + '\''"> <h6> Reportar mal funcionamiento <h6> </button>
                    </div>
                </th:block>

                <div class="special-container-3" style="width: 100%;">
                    <h5> Otros usuarios opinan... </h5>

                    <div th:each="valoracion : ${valoraciones}" class="main-coment-container">
                        <div class="coment-header-container">
                            <div class="coment-user-container">
                                <b> <p th:text="${valoracion.getUsuario().getUsername()}"> Usuario </p> </b>
                            </div>
                        
                        <div class="horizontal-sm" style="margin=.2em">
                            <p> <b> General: </b>&nbsp; </p>
                            <p th:text="${valoracion.getPuntuacionGeneral()}"> Puntuación General </p>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp; </p>
                            <p> <b> Caudal: </b>&nbsp; </p>
                            <p th:text="${valoracion.getPuntuacionCaudal()}"> Puntuación Caudal </p>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp; </p>
                            <p> <b> Sabor:</b>&nbsp; </p>
                            <p th:text="${valoracion.getPuntuacionSabor()}"> Puntuación Sabor </p>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp; </p>
                            <p> <b> Temp: </b>&nbsp; </p>
                            <p th:text="${valoracion.getPuntuacionTemperatura()}"> Puntuación Temperatura </p>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp; </p>
                        </div>
                        </div>
                        <br>
                        <p th:text="${valoracion.getComentario()}"> Comentario </p>
                        <br>
                        <td th:text="${valoracion.getFecha()}"> Fecha </td>

                    </div>
                    <th:block th:if="!${logged} or (${logged} and !${user.hasRole('FUNCIONARIO')} and !${user.hasRole('ADMIN')})">
                        <form  action="#" th:action="@{/fuente/{id}(id=${fuente.id})}" th:object="${valoracion}" method="post">
                            <label for="comentario"> <p> Escribe aquí tu opinion detallada: </p> </label>
                            <textarea id="comentario" name="comentario" rows="4" cols="50" th:field="*{comentario}"></textarea>
                            <div class="horizontal">
                                <label for="puntuacionGeneral">General:</label>
                                <select id="puntuacionGeneral" name="puntuacionGeneral" th:field="*{puntuacionGeneral}" required >
                                    <option th:each="i : ${#numbers.sequence(0,0)}" th:value="${i}"></option>
                                    <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}"></option>
                                </select>
                                <label for="puntuacionCaudal">Caudal:</label>
                                <select id="puntuacionCaudal" name="puntuacionCaudal" th:field="*{puntuacionCaudal}">
                                    <option th:each="i : ${#numbers.sequence(0,0)}" th:value="${i}"></option>
                                    <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}"></option>
                                </select>
                                <br>
                                <label for="puntuacionSabor">Sabor:</label>
                                <select id="puntuacionSabor" name="puntuacionSabor" th:field="*{puntuacionSabor}">
                                    <option th:each="i : ${#numbers.sequence(0,0)}" th:value="${i}"></option>
                                    <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}"></option>
                                </select>
                                <br>
                                <label for="puntuacionTemperatura">Temperatura:</label>
                                <select id="puntuacionTemperatura" name="puntuacionTemperatura" th:field="*{puntuacionTemperatura}">
                                    <option th:each="i : ${#numbers.sequence(0,0)}" th:value="${i}"></option>
                                    <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn-success" style="height: 5em"> <h5> Valorar <h5> </button>
                        </form>
                    </th:block>
                </div>    
                <th:block th:if="${logged}">
                    <th:block th:if="${user.hasRole('ADMIN')}">
                        <form method="post" th:action="@{/admin/gestionarApp}">
                            <input type="hidden" name="action" value="deleteFuente" />
                            <input type="hidden" name="id" th:value="${fuente.id}" />
                            <button type="submit" class="btn-def">Borrar definitivamente</button>
                        </form>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var reportes = /*[[${reportes}]]*/ [];
        var idf = /*[[${fuente.getId()}]]*/ null;
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{../js/stomp.js}"></script>
    <script th:src="@{../js/report.js}"></script>
</body>

<footer>
    <th:block th:replace="fragments/footer.html :: footer" />
</footer>

</html>