<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <th:block th:replace="fragments/head :: header" />
  <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
</head>
<body>
	<div>
    	<h1>Detalles de la Fuente</h1>
    	<!-- Ubicación de la fuente en el mapa -->
    	<div id="mapa" class="mapa"></div>
   	 
    	<!-- Detalles de la fuente -->
    	<div class="detallesFuente">
        	<h2>Nombre de la Fuente</h2>
        	<p><strong>Ubicación:</strong> Dirección exacta de la fuente</p>
        	<p><strong>Estado:</strong> Estado actual de la fuente (calidad del agua, frescor, accesibilidad, etc.)</p>
        	<p><strong>Resumen (administración):</strong> Resumen sobre la fuente</p>
        	<p><strong>Valoraciones:</strong> Comentarios de otros usuarios sobre la fuente</p>
       	 
        	<!-- Botones -->
        	<button>Valorar Fuente</button>
        	<button onclick="location.href='/report'">Reportar Problema</button>
    	</div>
	</div>

	<th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>
