<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>

    <title> Perfil </title>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
    <th:block th:replace="fragments/head :: header" />
</head>

<body>


    <h1> Bienvenido en la pagina de control de los funcionarios</h1>
    <div class = "button-container">
      <button class="button-func" onclick="location.href='/listFuente'">See the fontains</button>
      <button class="button-func" onclick="location.href='/myRepairs'">My repairs</button>
      <button class="button-func" onclick="location.href='/chat'">Go to general chat</button>
    </div>
    
    <div class="main-container">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <div id="map-func"></div>
      <script src="js/mapa-func.js">
      </script>
      <!-- map does not appear. why ??? -->
      <br>
      <br>
    </div>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>