<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""
/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin="">
</script>

<title> FuentesFix </title>
<head>
        <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
        <th:block th:replace="fragments/head :: header" />
</head>

<body>
    <div class="main-container">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <div id="map"></div>
        <script src="js/mapa-fuentes.js"></script>
        <br>
        <br>
        <table>
            <tr>
                <th>Barrio</th>
                <th>Estado</th>
                <th>Direccion</th>
                <th>Direccion Aux</th>
                <th>Ir</th>
            </tr>
            <tr th:each="fuente : ${fuentes}">   
                <td th:text="${fuente.getBarrio()}"></td>
                <td th:text="${fuente.getEstado()}"></td>              
                <td th:text="${fuente.getDireccion()}"></td>
                <td th:text="${fuente.getDireccion_aux()}"></td>               
                <td><button class="btn-def" th:onclick="|location.href='/fuente/' + ${fuente.getId()}|">Ir</button></td>
            </tr>
        </table>
    </div>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>