<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>

    <title> Lista fuentes </title>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
    <th:block th:replace="fragments/head :: header" />
</head>
<body>

    <div class="main-container">
        <table>
            <tr>
                <th>Barrio</th>
                <th>Estado</th>
                <th>Direccion</th>
                <th>Direccion Aux</th>
                <th>Ir</th>
            </tr>
            <tr th:each="fuente : ${sortedList}" th:limit="10">
                <td th:text="${fuente.getBarrio()}"></td>
                <td th:text="${fuente.getEstado()}"></td>              
                <td th:text="${fuente.getDireccion()}"></td>
                <td th:text="${fuente.getDireccion_aux()}"></td>               
                <td>
                    <button class="btn-def" th:onclick="|location.href='/fuente/' + ${fuente.getId()}|">Ir</button>
                </td>
            </tr>
        </table>
    </div>
    <script>
        var sortedList = /*[[${sortedList}]]*/ [];
        
    </script>
</body>