<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title> Iniciar sesión </title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <h1> Iniciar sesión </h1>
    <main class="flex-shrink-0">
        <div class="container">
            <form method="post" th:action="@{/login}">
                <p th:if="${#request.getQueryString() == 'error'}" class="error">
                    Nombre de usuario o contraseña incorrectos.
                </p>
                <p>
                    <label for="username">Correo:</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="ejemplo@mail.com"
                        required="required">
                </p>
                <p>
                    <label for="password">Contraseña:</label> <br>
                    <input type="password" id="password" name="password" class="form-control" placeholder="··········"
                        required="required">
                </p>
                <button type="submit">Inicia sesión</button>
            </form>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>