<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<title> Iniciar sesión </title>
<head>
        <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
</head>
<body>
    
    <h1> <img src="logo.png" alt="logo" width="90" height="90"> <br> Iniciar sesión </h1>
    <form action="/login" method="post">
        <label for="mail" class="visually-hidden">Correo:</label>    <br>
        <input type="text" id="mail" name="mail" class="form-control" placeholder="ejemplo@mail.com" required="required"> <br>
        <label for="password" class="visually-hidden">Contraseña:</label> <br>
        <input type="password" id="password" name="password" class="form-control" placeholder="··········" required>   <br>
        <button type="submit">Inicia sesión</button>
    </form>
    <br>
    <br>
    <label> ¿No tienes cuenta? <button onclick="location.href='/register'">¡Regístrate!</button> </label>
</body>
</html>