<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<title> Iniciar Sesion </title>
<head>
        <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
        <th:block th:replace="fragments/head :: header" />
</head>

<body>
    <div class="horizontal" align="bottom">  
        <div class="special-container">
            <form class="form-signin" method="post" th:action="@{/login}">
            <h1> Iniciar sesión </h1>
            <br>
            <p th:if="${#request.getQueryString() == 'error'}" class="error">
                        Nombre de usuario o contraseña incorrectos.
            </p>
            <h6> Usuario: </h6>
            <input class="input-log" type="text" id="username" name="username" placeholder="ejemplo@mail.com" required="required">

            <h6> Contraseña: </h6>
            <input class="input-log" type="password" id="password" name="password" placeholder="··········" required="required">
            <br>

            <button type="submit" class="btn-def"><h6> Iniciar sesión </h6></button>
            </form>
        </div>
        <div class="special-container-2">
            <h6> ¿No tienes cuenta? </h6>
            <br>
            <button class="btn-success" onclick="location.href='/register'"><h6> ¡Regístrate! </h6></button>
        </div>
    </div>
</body>

<footer>
    <th:block th:replace="fragments/footer.html :: footer" />
</footer>

</html>