<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>

    <title> Reparaciones </title>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
    <th:block th:replace="fragments/head :: header" />
    
</head>
<body>
    <script>
        var reportes = /*[[${reportes}]]*/ [];
    </script>
    <div class="main-container">
        <h1> tus reparaciones : </h1>
        <table>
            <tr>
                <th>Usuario</th>
                <th>Comentario</th>
                <th>Estado</th>
                <th>Fuente</th>
                <th>Arreglado</th>
            </tr>
            <tr th:each="report : ${reportes}" th:limit="10">
                <td>
                    <button class="btn-def" th:onclick="|location.href='/user/' + ${report.getAuthor().getId()}|" th:text="${report.getAuthor().getId()}"></button>
                </td>
                <td th:text="${report.getComentario()}"></td>              
                <td th:text="${report.getEstado()}"></td>
                <td>
                    <button class="btn-def" th:onclick="|location.href='/fuente/' + ${report.getFuente().getId()}|" th:text="${report.getFuente().getId()}"></button>
                </td> 
                <td>
                    <button class="btn-def" th:onclick="|location.href='/myRepairs/' + ${report.getId()}|" >✔️</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>