<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<title> Perfil </title>
<head>
  <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
</head>
<body>
    <h1>elFuentes38</h1>
    <img height="200px" width="200px" src="profile.jpg" alt="Foto de Perfil">
      <p>Soy un aficionado a las fuentes públicas de Madrid
        <br>Me encanta descubrir nuevas fuentes y reportar problemas
        <br>¡Ayúdame a mejorar la calidad de las fuentes de Madrid!
      </p>
    <br>
    <h3>Medallas</h3>
    <img height="141px" width="90px" src="goldMedal.png" alt="Foto Medalla">
    <p>Fuente de Moncloa</p>
    <br>
    <img height="166px" width="87px" src="silverMedal.png" alt="Foto Medalla">
    <p>Fuente de Lavapiés</p>
</body>
