<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
    <title>Este es el titulo</title>
</head>
<body>
    <h1>Este es un h1</h1>
    <h2>Este es un h2</h2>
    <h3>Este es un h3</h3>
    <h4>Este es un h4</h4>
    <h5>Este es un h5</h5>
    <h6>Este es un h6</h6>
    <p>Este es un parrafo</p>
    <p>Este es otro parrafo</p>
    <button>Este es un boton</button>
    <button>Este es otro boton</button>
    <a href="#">Este es un link</a>
    <a href="#">Este es otro link</a>
    <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Google Logo">
    <table>
        <tr>
            <th>Este es un th</th>
            <th>Este es otro th</th>
        <tr>
            <td>Este es un td</td>
            <td>Este es otro td</td>
        </tr>
        <tr>
            <td>Este es un td</td>
            <td>Este es otro td</td>
        </tr>


    <p class="p-claro">Este es un párrafo claro.</p>
    <p class="p-oscuro">Este es un párrafo oscuro.</p>

    <button class="btn-def">default</button>
    <button class="btn-success">success</button>
    <button class="btn-cancel">cancel</button>
    <button class="btn-log">login</button>

</body>
</html>
