<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<title> Reportar Fuente</title>
<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
</head>
<body>
    <h1> Reportar problema con una fuente </h1>
    
    <h3><a href="https://maps.app.goo.gl/nG3TpWnSfNCoKdM46"> C/Prof. José García Santesmanses 9</a></h3>
    
    <form action="/report" method="post">
        <label for="tipo">*Indique el problema que se ha encontrado:</label>
        <select id="tipo" name="tipo" required>
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="Baja presion">Baja presion</option>
            <option value="Olor">Olor</option>
            <option value="Sabor">Sabor</option>
            <option value="Suciedad">Suciedad</option>
            <option value="Color">Color</option>
            <option value="Fuga">Fuga</option>
            <option value="Otro">Otro</option>
        </select>
        <br>
        <input type="text" id="comentario" name="comentario" placeholder="Explique aquí el problema">
        <br>
        <br>
        <button type="submit">Enviar</button>
        <label> *Campos obligatorios </label>
    </form>
    
    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>