<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>

    <title> Lista fuentes </title>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
    <th:block th:replace="fragments/head :: header" />
</head>
<body>
    <script>
        var reportes = /*[[${reportes}]]*/ [];
        var valoraciones = /*[[${valoraciones}]]*/ [];
    </script>

    <div class="main-container">

        <select id="entityType">
            <option value="">Select</option>
            <option value="reporte">Reportes</option>
            <option value="valoracion">Valoraciones</option>
        </select>
        <div id="tablaRep" style="display: none;">
            <table>
                <tr>
                    <th>Usuario</th>
                    <th>Comentario</th>
                    <th>Estado</th>
                    <th>Fuente</th>
                    <th>Modificar comentario</th>
                </tr>
                <tr th:each="report : ${reportes}" th:limit="10">
                    <!-- print the report as i did for the fuente, and link to the fuente (and to the user profil if time) -->
                    <td>
                        <button class="btn-def" th:onclick="|location.href='/user/' + ${report.getAuthor().getId()}|" th:text="${report.getAuthor().getId()}"></button>
                    </td>
                    <td th:id="${report.id}" th:text="${report.getComentario()}"></td>              
                    <td th:text="${report.getEstado()}"></td>
                    <td>
                        <button class="btn-def" th:onclick="|location.href='/fuente/' + ${report.getFuente().getId()}|" th:text="${report.getFuente().getId()}"></button>
                    </td> 
                    <td>
                        <button class="btn-def" th:onclick="openModal('[[${report.getComentario()}]]', [[${report.id}]])">\u2075</button>
                    </td>
                </tr>
            </table>
            <!-- popup to change the comment -->
            <div id="myModal" class="modal" style="display: none;">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h2>Edit Comment</h2>
                    <textarea id="commentInput" rows="4" cols="50"></textarea>
                    <input type="hidden" id="currentReportId">
                    <button onclick="saveComment()">Save</button>
                </div>
            </div>
        </div>
        <div id="tablaVal" style="display: none;">
            <table>
                <tr>
                    <th>Usuario</th>
                    <th>Comentario</th>
                    <th>Puntuacion General</th>
                    <th>Fuente</th>
                    <th>Modificar</th>
                </tr>
                <tr th:each="valoracion : ${valoraciones}" th:limit="10">
                    <!-- print the report as i did for the fuente, and link to the fuente (and to the user profil if time) -->
                    <th:block th:with="user=${valoracion.getUsuario()}">
                        <td>
                            <button class="btn-def" th:onclick="|location.href='/user/' + ${user.getId()}|" th:text="${user.getId()}"></button>
                        </td>
                    </th:block>
                    <td th:text="${valoracion.getComentario()}"></td>              
                    <td th:text="${valoracion.getPuntuacionGeneral()}"></td>
                    <th:block th:with="fuente=${valoracion.getFuente()}">
                        <td>
                            <button class="btn-def" th:onclick="|location.href='/fuente/' + ${fuente.getId()}|" th:text="${fuente.getId()}"></button>
                        </td>
                    </th:block>
                     
                    <td>
                        <button class="btn-def" th:onclick="|location.href='/myRepairs/' + ${valoracion.getId()}|" >\U2075</button>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>

    <script>
        document.getElementById('entityType').addEventListener('change', function() {
        var entityType = this.value;
        if (entityType === 'reporte') {
            document.getElementById('tablaRep').style.display = 'block';
            document.getElementById('tablaVal').style.display = 'none';
        } else if (entityType === 'valoracion') {
            document.getElementById('tablaRep').style.display = 'none';
            document.getElementById('tablaVal').style.display = 'block';
        }
        });
    </script>
    <script th:src="@{/js/stomp.js}"></script>
    <script th:src="@{/js/iw.js}"></script>
    <script th:src="@{/js/perfil.js}"></script>
</body>