<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>

    <title> Lista fuentes </title>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
    <th:block th:replace="fragments/head :: header" />
</head>
<body>
    <script>
        var reportes = /*[[${reportes}]]*/ [];
        var valoraciones = /*[[${valoraciones}]]*/ [];
    </script>

    <div class="main-container">

        <select id="entityType">
            <option value="">Select</option>
            <option value="reporte">Reportes</option>
            <option value="valoracion">Valoraciones</option>
        </select>
        <div id="tablaRep" style="display: none;">
            <table>
                <tr>
                    <th>Usuario</th>
                    <th>Comentario</th>
                    <th>Estado</th>
                    <th>Fuente</th>
                    <th>Arreglado</th>
                </tr>
                <tr th:each="report : ${reportes}" th:limit="10">
                    <!-- print the report as i did for the fuente, and link to the fuente (and to the user profil if time) -->
                    <td>
                        <button class="btn-def" th:onclick="|location.href='/user/' + ${report.getUsuario_id()}|" th:text="${report.getUsuario_id()}"></button>
                    </td>
                    <td th:text="${report.getComentario()}"></td>              
                    <td th:text="${report.getEstado()}"></td>
                    <td>
                        <button class="btn-def" th:onclick="|location.href='/fuente/' + ${report.getFuente_id()}|" th:text="${report.getFuente_id()}"></button>
                    </td> 
                    <td>
                        <button class="btn-def" th:onclick="|location.href='/myRepairs/' + ${report.getId()}|" >\U2075</button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tablaVal" style="display: none;">

        </div>
        
    </div>

    <script>
        document.getElementById('entityType').addEventListener('change', function() {
        var entityType = this.value;
        if (entityType === 'reporte') {
            document.getElementById('tablaRep').style.display = 'block';
            document.getElementById('tablaVal').style.display = 'none';
        } else if (entityType === 'valoracion') {
            document.getElementById('tablaRep').style.display = 'none';
            document.getElementById('tablaVal').style.display = 'block';
        }
        });
    </script>
</body>